Binaries
Config
DerivedDataCache
enc_temp_folder
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Source/InventorySystem/InventorySystemGameMode.h
Source/InventorySystem/InventorySystemGameMode.cpp
Source/InventorySystem/InventorySystemCharacter.h
Source/InventorySystem/InventorySystemCharacter.cpp
Source/InventorySystem/InventorySystem.Build.cs
Source/InventorySystemEditor.Target.cs
Source/InventorySystem.Target.cs

Content/Characters
Content/__ExternalObjects__/ThirdPerson/Maps/ThirdPersonMap
Content/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap
Content/ThirdPerson
Content/StarterContent
Content/LevelPrototyping
