Binaries
Content
Config
DerivedDataCache
enc_temp_folder
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.uasset

Source/InventorySystem/InventorySystemGameMode.h
Source/InventorySystem/InventorySystemGameMode.cpp
Source/InventorySystem/InventorySystemCharacter.h
Source/InventorySystem/InventorySystemCharacter.cpp
Source/InventorySystem/InventorySystem.Build.cs
Source/InventorySystemEditor.Target.cs
Source/InventorySystem.Target.cs